<div class="container mt-4">
    <h1>Recipes</h1>

    <!-- Add New Recipe Button -->
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRecipeModal">
        Add New Recipe
    </button>
    
    <!-- Display recipes as cards -->
    <div class="row">
        <div class="col-md-4" ng-repeat="recipe in recipes">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.content | limitTo: 100 }}{{ recipe.content.length > 100 ? '...' : '' }}</p>
                    <a class="btn btn-info" ng-href="#/food/{{ recipe._id }}">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Adding New Recipe -->
    <div class="modal fade" id="addRecipeModal" tabindex="-1" aria-labelledby="addRecipeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRecipeModalLabel">Add New Recipe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Title" ng-model="newRecipeTitle">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" placeholder="Content" ng-model="newRecipeContent"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="addRecipe()">Add Recipe</button>
                </div>
            </div>
        </div>
    </div>
</div>
