<div ng-controller="WorkoutController" ng-init="getWorkouts()" class="container mt-4">
    <h1>Workout Routines</h1>
    <ul>
        <li ng-repeat="workout in workouts">
            <strong>{{ workout.name }}</strong> : {{ workout.duration }} ({{ workout.intensity }})
            <button ng-click="editWorkout(workout)">Edit</button>
            <button ng-click="removeWorkout(workout._id, $index)">Remove</button>
        </li>
    </ul>

    <h3 ng-if="!isEditing">Add a New Workout</h3>
    <h3 ng-if="isEditing">Edit Workout</h3>
    <form ng-submit="isEditing ? updateWorkout() : addWorkout()">
        <label for="name">Workout Name:</label>
        <input type="text" id="name" ng-model="currentWorkout.name" required>
        <br>
        <label for="duration">Duration (minute):</label>
        <input type="number" id="duration" ng-model="currentWorkout.duration" required>
        <br>
        <label for="intensity">Intensity:</label>
        <select id="intensity" ng-model="currentWorkout.intensity" required>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
        <br>
        <button type="submit">{{ isEditing ? 'Update Workout' : 'Add Workout' }}</button>
        <button type="button" ng-if="isEditing" ng-click="cancelEdit()">Cancel</button>
    </form>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/04kAfDdqEfg?si=Od87zlb0RlNxkwEZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wIynl3at0Rs?si=eOwagH9n5J_ESVAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
