    <div class="header-container py-4">
        <h1>Workout Routines</h1>
    </div>

    <div ng-init="getWorkouts()" class="container mt-4">
        <!-- Modal untuk Add Workout -->
<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addWorkoutModal">Add a New Workout</button>

<!-- Modal untuk Add Workout-->
<div class="modal fade" id="addWorkoutModal" tabindex="-1" aria-labelledby="addWorkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addWorkoutModalLabel">Add a New Workout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form ng-submit="addWorkout()">
                    <label for="name">Workout Name:</label>
                    <input type="text" id="name" ng-model="currentWorkout.name" class="form-control" required>

                    <label for="duration" class="mt-2">Duration (minute):</label>
                    <input type="number" id="duration" ng-model="currentWorkout.duration" class="form-control" required>

                    <label for="intensity" class="mt-2">Intensity:</label>
                    <select id="intensity" ng-model="currentWorkout.intensity" class="form-control" required>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>

                    <div class="mt-3 text-center">
                        <button type="submit" class="btn btn-primary">Add Workout</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal untuk Edit Workout-->
<div class="modal fade" id="editWorkoutModal" tabindex="-1" aria-labelledby="editWorkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editWorkoutModalLabel">Edit Workout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form ng-submit="updateWorkout()">
                    <label for="name">Workout Name:</label>
                    <input type="text" id="name" ng-model="currentWorkout.name" class="form-control" required>

                    <label for="duration" class="mt-2">Duration (minute):</label>
                    <input type="number" id="duration" ng-model="currentWorkout.duration" class="form-control" required>

                    <label for="intensity" class="mt-2">Intensity:</label>
                    <select id="intensity" ng-model="currentWorkout.intensity" class="form-control" required>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>

                    <div class="mt-3 text-center">
                        <button type="submit" class="btn btn-primary">Update Workout</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    <!-- List Workout -->
    <ul class="list-group">
        <li ng-repeat="workout in workouts" class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                <strong>{{ workout.name }}</strong>{{ workout.duration }} min ({{ workout.intensity }})
                <div>
                    <button class="btn btn-warning btn-sm" ng-click="editWorkout(workout)">Edit</button>
                    <button class="btn btn-danger btn-sm" ng-click="removeWorkout(workout._id, $index)">Remove</button>
                </div>
            </div>
        </li>
    </ul>

    <!-- Video Tutorials -->
    <div class="video-container" data-aos="fade-up">
        <h1>Full Body Workout</h1>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/04kAfDdqEfg?si=Od87zlb0RlNxkwEZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/wIynl3at0Rs?si=eOwagH9n5J_ESVAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/Tz9d7By2ytQ?si=jXEMGc8I1pPEn-gP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container" data-aos="fade-up">
        <h1>Fat Burning</h1>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/dj03_VDetdw?si=S7aTPcOl6oSts5Mh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/UheajlsZ72E?si=l7qJqx5hj7NEu897" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/mEmynZt2SwY?si=GJv0k6Tzj3CQ10NX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-container" data-aos="fade-up">
        <h1>ABS Workout</h1>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/RgRq9d0fVIc?si=NwyfxcgqvkCSRAlO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/95hX_OMuIpg?si=XubIodc3X4i4Dh8j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/BdhqubW1GJE?si=JOhvkCma3q6tbyNT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container" data-aos="fade-up">
        <h1>Tricep Workout</h1>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/KzBZ02EAJvE?si=RrqVcpAopkBRRx7-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/OtgFcKSywtQ?si=BWaJjt_5l-IEeb7Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/k2BcPEw0vJ4?si=VqtafCdDTNFxpUmx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-container" data-aos="fade-up">
        <h1>Bicep Workout</h1>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/1FN6ovYpkoM?si=ye2Zo3EgVPBY-aUt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/snA6ls2kG3U?si=toEXvJUcR8JkACnG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/5-QWUcbN7vY?si=1L2-lhCkPIDLOgS4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="video-container" data-aos="fade-up">
        <h1>Leg Workout</h1>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/841gJUczmzg?si=EvZNMGFTOgCNFlQq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/q7rCeOa_m58?si=OKRCUXq-epOcU_SL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/kMOaQEdkfEw?si=rRj27QmamGnffqmU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container" data-aos="fade-up">
        <h1>Back Workout</h1>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/Sa0sBKUiOvU?si=sBjJFHGJNBmBiLyP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/6JZZTLfoNMY?si=cP5JHP0CjCSUvGcG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/12xHxUnBEiI?si=XYc3EyP0wuDRjDgS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-container" data-aos="fade-up">
        <h1>Yoga</h1>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/B4kNiCWTl7M?si=iyhR0EAdZkwVqrNb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/hHhxKkskHDg?si=YBKDr0xJ4m1YPuqa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="428" height="250" src="https://www.youtube.com/embed/klmBssEYkdU?si=EReH6TN3ygbbIdg1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>